
</div>
<div class="well" style="width: 250px; height: 140px;position: relative;float: right" >

<p><b>Información adicional</b> </p>
<p> - Total estudiantes : 113</p>
<p> - Total Estudiantes último semestre : 30</p>
<p> - Total Materias : 45</p>


</div>
</div>

<div class="well" align="center" >
<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
	    chart: {  type: 'line' ,renderTo: 'estporcre'},
            title: {   text: 'Población estudiantes de Maestría en Sistemas según crŕeditos'      },
            xAxis: {  title: {   text: 'Créditos'   }, categories: ['4', '8', '12', '16', '20', '24', '28', '32', '36', '40']  },
            yAxis: {  title: {   text: 'Número estudiantes'   }  },
            tooltip: {
                enabled: false,
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'°C';
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                name: 'MATI',
                data: [18, 14, 9, 14, 18, 21, 25, 26, 23, 18]
            },{
                name: 'MESI',
                data: [21, 25, 26, 23, 18, 17, 16, 19, 14, 12]
            },{
                name: 'MBIT',
                data: [ 9, 14, 18, 17, 16,21,  23, 18,25, 26]
            },{
                name: 'MISO',
                data: [25, 26, 23, 17, 11, 10, 20, 18, 21, 11]
            },]
        });
    });
</script>
<div id="estporcre" style="width: 800px; height: 500px"></div>
</div>
<p>PD: La información del tablero de control es temporal y no resprestrenta información real</p>
<br>
