<h1>Reservas#reservasUltimosEst</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>tipo</th>
    <th>tipo</th>
  </tr>
  <% n=0%>
  <% @materias.each do |mat| %>

      <tr>
        <td><%= mat.nombre %></td>
        <td><%= mat.tipo %></td>
        <td><%= mat.cupoUltimoSemestre %></td>
        <% n+=mat.cupoUltimoSemestre%>
      </tr>

  <% end %>
</table>
<p> Número de cupos asignados= <%=n%></p>
<p>Find me in app/views/reservas/reservasUltimosEst.html.erb</p>
