<script type="text/javascript">
  $(function () {
      $('#container').highcharts({
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false
          },
          title: {
              text: 'Cantidad de estudiantes'
          },
          tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      color: '#000000',
                      connectorColor: '#000000',
                      format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                  }
              }
          },
          series: [{
              type: 'pie',
              name: 'porcentaje',
              data: [
                  ['MATI',   50.0],
                  ['MESI',   20.0],
                  ['MISIS',  30.0],
              ]
          }]
      });
  });
</script>

<h1>Semestre Planeado</h1>
<br><br>

<%= javascript_include_tag 'highcharts','exporting' %>
<%= high_chart("my_id", @h) %>
<div id="container" class="well" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


