<h1>Estudiantes de último semestre</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Codigo</th>
    <th>Programa</th>
    <th>Creditos</th>
  </tr>
  <% @ultimosSem.each do |estudiante| %>

      <tr>
        <td><%= estudiante.nombre %></td>
        <td><%= estudiante.apellido %></td>
        <td><%= estudiante.codigo %></td>
        <td><%= estudiante.programa %></td>

      </tr>

  <% end %>
</table>