
<div class="well" align ="center">
<p style="font-size:20px;">Bienvenido al Coordinador de los Alpes</p>

</div>

<div class="well">

<div  class="well" style="float: right; clear: left;" ><%= image_tag("la caja 1 peque.png", :alt => "Nuestro producto") %></div>
<p style="font-size:18px;">Nuestro Producto</p>
<br>
<div  style="padding: 5px 350px 5px 10px;">
<p align="justify" >Coordinador de los Alpes es la herramienta idea para el coordinador de maestrias, con esta herramienta ahorrá tiempo y esfuerzo en las arduas tareas que implican planear y asignar cupos a los estudiantes para cada una de la materias ofrecidas</p>
<p>Características :</p>
<p>- Optimizador para asignación de cupos </p>
<p>- Supervisor de materias cursadas </p>
<p>- Priorización de cupos </p>
<p>- Planificador de materias a cursar </p>
<p>- Administrador de homologaciones y transferencias </p>
y mucho más!
</div>
<br><br><br><br>
</div>




<div class="well">

<p style="font-size:18px;">Objetivos de COORDINADOR de los ALPES</p>
<p>Objetivo 1 bla bla bla b</p>

</div>

<div class="well">

<p style="font-size:18px;">Para quien está dirigido COORDINADOR de los ALPES?</p>
<p>COORDINADOR de los ALPES está dirigido a  </p>

</div>
