<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>
<h1>Generar Secciones Proximo Semestre</h1>
<br><br>

<div class="well">
	<%= form_tag('generarSecciones' , method: "post") do%>
	<p> Estudiantes por seccion :<p>
	<input name="numsecciones">
	<%= submit_tag("Generar") %>
	<% end %>
</div>


