
<br><br>
<h1>ESTUDIANTES</h1>
<br>


Estudiantes que NO estan en ultimo semestre
<br><br>
<div class="well">
<table>                         
  <tr>   
    <th>Id</th>      
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Codigo</th>
    <th>Programa</th>
     <th>Creditos</th>	
  </tr>
<% @algunos.each do |estudiante| %>
 <tr>
	 <% estudiante.each do |e| %>
	    <td><%= e %></td>
	<% end %>
 </tr>
<% end %>
</div >

</table> 
<br><br>
<%= form_tag(estudiante_cuposmas8_path , method: "get") do%>
      Darle cupos a todos los estudiantes 
      <%= submit_tag("Dar cupos") %>
<% end %>
<br><br><br><br><br><br>
