<h1>Estudiante#creditosfaltantes</h1>
<p>Find me in app/views/estudiante/creditosfaltantes.html.erb</p>

<br><br>
<h1>ESTUDIANTES : </h1>
<br>
Al estudiante de codigo : <%= @codigo %> Le hacen falta <%= @creditosFestu %> creditos
