<h1>Estudiante#new</h1>
<p>Find me in app/views/estudiante/new.html.erb</p>

<br>
<%= form_tag(estudiante_result_path , method: "get") do%>
    <p> mostrar todos los estudiantes<p>
<%= submit_tag("mostrar") %>
<% end %>

<br><br><br><br>

<%= form_tag(estudiante_creditosfaltantes_path , method: "post") do%>
 
<p> Conocer creditos faltantes del estudiante :<p>
  <br> 
<p> Codigo estudiante :<p>
<input name="codigo">
<%= submit_tag("consultar") %>
<% end %>
