// Place all the styles related to the reservas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hiddenRow {
  padding: 0 !important;
}
.headHidden{
  padding: 0 !important;
  background:#77BFC7;
  color: black;
}
.typeHidden{
  padding: 0 !important;
  background:#E5FFFF;
}
.matHeadHidden{
  padding: 0 !important;
  background:#9c9;
}
.matHidden{
  padding: 0 !important;
  background:#EBFFE0;
}
tr.on {background:#9c9;}